.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner-wrapper {
  width: 400px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: inherit;
  align-items: flex-start;
}

.modal-inner {
  width: 400px;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  margin: 5px;
}
