.main-wrapper {
  background: #207123;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrapper {
  height: var(--roulette-height);
  display: flex;
}

.zero-section {
  width: 65px;
  height: calc(100% / 5 * 3 + 2px);
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
}

.zero-section button {
  transform: rotate(90deg);
  color: white;
  font-size: 2.5rem;
  border-radius: 100%;
  padding: 2px 10px;
  font-weight: bold;
  border: 2px solid white;
}

.lines-section {
  display: flex;
  border-left: 2px solid white;
}

.lines {
  width: 100%;
}

.line-one {
  border-top: 2px solid white;
}

.one-from-eleventh,
.other-special {
  width: calc(100% - 42px);
}
