.button-wrapper {
  height: calc(var(--roulette-height) / 5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  flex-grow: 1;
  color: white;
  font-weight: bold;
  position: relative;
}

.number-button {
  transform: rotate(-90deg);
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  padding: 5px 0;
}

.odd {
  background-color: black;
}

.even {
  background-color: red;
}

.chip {
  position: absolute;
}

.middle-bet {
  width: 6px;
  padding: 0;
  display: block;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 95%;
  z-index: 100;
}

.button-red {
  background: red;
}

.button-black {
  background: black;
}
