.svg-wrapper {
  position: relative;
}

.color-1 g {
  fill: orange !important;
}

.color-5 g {
  fill: magenta !important;
}

.color-10 g {
  fill: blue !important;
}

.color-50 g {
  fill: darkred !important;
}

.size-large {
  width: 90px;
  height: inherit;
}

.size-small {
  width: 24px;
  height: inherit;
}

.amount {
  color: white;
  font-weight: bold;
  position: absolute;
  right: auto;
  left: auto;
  top: 0;
  bottom: 0;
  transform: translate(0, 30%);
  text-align: center;
  width: 100%;
}

.amount-large {
  font-size: 2rem;
}

.amount-small {
  transform: translate(0, 22%);
  font-size: 0.7rem;
}

.click {
  cursor: pointer;
}
