.chip-wrapper {
  margin-top: 50px;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
}

.chip-wrapper button {
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 1px;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
}

.chip-wrapper .spin {
  width: 70px;
  height: 70px;
  margin-left: auto;
}
.values-array {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.values-array span {
  border: 1px solid white;
  color: white;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.values-array h2 {
  margin-bottom: 10px;
  color: white;
}
